page-tabs{
    #active{
        border-bottom: 3px solid #9E00FF;
        color: rgba(60, 60, 60, 0.7);
    }
    
    
    
    .tab-button-text{
        color: rgba(60, 60, 60, 0.7);
    }
}